NOTION_KEY=<Your notion integration's access token>
NOTION_DB_BACKLOG=<Database ID of your product backlog>
NOTION_DB_SPRINT_SUMMARY=<Database ID of the sprint summary>
NOTION_DB_DAILY_SUMMARY=<Database ID of the daily summary>
NOTION_PROPERTY_SPRINT=<Name of the property containing the sprint info in your sprint backlog>
NOTION_PROPERTY_PATTERN_STATUS_EXCLUDE=<Regex of the statuses of stories which are done>
NOTION_PROPERTY_ESTIMATE=<Name of the property containing the story points in your sprint backlog>
INCLUDE_WEEKENDS=<true if weekends should be included in the chart, false otherwise. Defaults to true if empty>
SPRINT_START=<True if it is the start of a new sprint, false otherwise. When true, a new entry will be created in the Sprint Summary database, and the sprint end date will be 14 days later (sprint start day excluded).>