NOTION_KEY=<Your notion integration's access token>
DATABASE_ID_BACKLOG=<Database ID of your product backlog>
DATABASE_ID_SPRINT_SUMMARY=<Database ID of the sprint summary>
DATABASE_ID_DAILY_SUMMARY=<Database ID of the daily summary>
BACKLOG_PROPERTY_SPRINT=<Name of the property containing the sprint info in your product backlog>
BACKLOG_PROPERTY_EXCLUDE_STATUS_PATTERN=<Regex of the statuses of stories which are done>
BACKLOG_PROPERTY_STORY_POINTS=<Name of the property containing the story points in your product backlog>
# INCLUDE_WEEKENDS=<1 if the guideline should decrease on weekends and 0 otherwise, defaults to 1 if not specified>